@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
#phan1{
	height: 100vh;
	position:relative;
}
#fullnav{
	height:7vh;
	background-color: #eceaf1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#chualogo{
	background-color: #eceaf1;
	float: left;
	width: 40%;	
}
#logo{
	float: left;
	padding:15px 0 20px 2%;
	width: 20%;
  	height: 20%;
}

.topnav{
	width: 60%;
	float: right;
	background-color: white;
	height: 7vh;
	overflow: hidden;
}
ul{
	list-style-type: none;
	margin:0;
	padding: 0px 0px 0px 10%;
	overflow: hidden;
	float: left;
}
li{
	float: left;
}
li a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
.topnav .icon {
  display: none;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: 1px solid black;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.clearfix{
	clear:both;
}
#phan1hinh{
	width:40%;
	float: left;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	padding-left: 20%;
}
#phan1-2-trai{
	background-color: #eceaf1;
	width: 40%;
	height: 93vh;
	float: left;
}
#phan1-2-phai{
	width: 60%;
	background-color: white;
	height: 93vh;
	float: left;
}
#text1{
	width: 30%;
	float: right;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 5%;
}


/*PHAN2*/
#phan2{
	text-align:center;
	margin: 0 auto;
	height: 140vh;
}
#phan2 h1{
	padding-top: 10vh;
}
.gachngang{
	width: 5%;
	margin: 0 auto;
	height: 2px;
	background-color: #734df2;
	border: none;
}
.phan2-1-trai{
	width: 32%;
	box-shadow: 0px 0px 5px 1px #888888; 
	border-radius: 5px;
	height: 50vh;
	position: absolute;
}
#phan2-container{
	width: 60%;
	margin: 0 auto;
	position: relative;
}
.hinh2-1-trai{
	width: 100%;
}
.chuabutton2-1-trai{
	text-align: left;
	padding: 5% 0 5% 5%;
}
.chutieude2{
	font-size: 20px;
	padding: 0 5%;
	text-align: left;
}
.tentacgia{
	text-align: left;
	float: left;
}
.chuatentacgia{
	padding:5%;
}
.buttonphan2{
	background-color: #f1f0fe;
	border: none;
	color: #746bfc;
	padding: 5px 10px;
	font-size: 10px;
	cursor: pointer;
	border-radius: 10px;
}
#phan2-1-phai{
	width: 66%;
	box-shadow: 0px 0px 5px 1px #888888; 
	border-radius: 5px;
	height: 50vh;
	position: absolute;
	right:0;
}
#phan2-1-phai-trai{
	width: 45%;
	height: 50vh;
	float: left;
}
#trongphan2-1-phai-trai{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	width:45%;
	padding-left: 2%;
}
#phan2-1-phai-phai{
	float: right;
	width: 50%;
	height: 50vh;
	background-image: url("img/hinhcogai.png");
}
.chucantrai2-1-phai-trai{
	text-align: left;
	padding-left: 5%;
}
.phan2-2-trai{
	width: 32%;
	box-shadow: 0px 0px 5px 1px #888888; 
	border-radius: 5px;
	height: 50vh;
	position: absolute;
	top:54vh;
}
.phan2-2-giua{
	width: 32%;
	box-shadow: 0px 0px 5px 1px #888888; 
	border-radius: 5px;
	height: 50vh;
	position: absolute;
	margin-left: 34%;
	top:54vh;
	background-color: #734df2;
}
.phan2-2-phai{
	width: 32%;
	box-shadow: 0px 0px 5px 1px #888888; 
	border-radius: 5px;
	height: 50vh;
	position: absolute;
	right: 0;
	top:54vh;
}
.phan2-2-giua img{
	width: 60%;
	padding-top: 30%;
}
.chuphan2-2giua{
	margin:30% 10% 0 10%;
}
.nutdownload{
	position: absolute;
	bottom: 57%;
	font-size: 50px;
	transform: translateX(-50%);
	left: 50%;
	color: white;
}
.phan2lap{
	height: 110vh;
}
.phan3{
	text-align: center;
	background-color: rgb(236, 234, 241);
}
.tieudephan3{
	padding-top: 10vh;
	padding-bottom: 3vh;
}
#phan3container{
	padding-top:2vh;
	margin: 0 auto;
	width: 60%;
	height: 35vh;
	padding-bottom: 5vh;
}
.phan3-trai{
	box-shadow: 0px 0px 5px 1px #888888; 
	border-radius: 5px;
	float: left;
	width: 32%;
	height: 35vh;
	background-color: white;
}
.hinhphan3{
	padding-top: 10%;
	padding-bottom: 5%;
}
.gach3{
	width: 10%;
}
.cach5{
	margin-left: 2%;
}
.phan3container2{
	width: 60%;
	margin: 0 auto;
	padding-top: 10vh;
	height: 5vh;
	padding-bottom: 20vh;
}
.chualogothuonghieu{
	width: 25%;
	float: left;
	height: 5vh;
}
#phan4{
	height: 100px;
	background-color: #734df2;
}
#phan4chua{
	padding-top: 40px;
	margin: 0 auto;
	width: 60%;
}
.chuphan4{
	float: left;
	padding-left: 100px;
	padding-right: 50px;
}
.botnav{
	margin: 0 auto;
	float: left;
}
#phan6{
	width: 70%;
	height: 7vh;
	margin: 0 auto;
	margin-left: 350px;
}
#phan6 input[type=text] {
  float: right;
  padding: 6px;
  border: 1px solid black;
  margin-top: 8px;
  padding-right: 0px;
  font-size: 10px
}
#phan6 ul{
	margin-left: 30px;
	padding-right: 5px;
	display: inline;
}
.social{
	width: 15%;
	margin: 0 auto;
	padding-top: 5vh;
	height: 3vh;
	padding-bottom: 5vh;
	text-align: center;
}
.social a{
	font-size: 30px;
	padding-left: 10px;
}
.banquyen{
	text-align: center;
}

/*RESPONSIVE*/
@media only screen and (max-width: 376px){
	#fullnav{
		height: 15vh;
		position: sticky;
	}
	#chualogo{
		width: 20%;
		background-color: white;
		height: 15vh;
	}
	#logo{
		width: 100%;
	}
	.topnav{
		width: 80%;
		height: 15vh;
	}
	#fullnav .topnav ul li a {
		padding: 5px;
		font-size: 15px;
		padding-top: 12px;
	}
	.topnav input[type=text]{
		float: left;
		margin-left: 12%;
	}
	#phan1hinh {
		width: 80%;
		transform: translateX(-50%);
		left: 50%;
		padding-left: 0;
		top:25%;
	}
	#text1{
		width: 60%;
		float: none;
		transform: translateX(-50%);
		left: 50%;
		top:60%;
	}
	.phan2-1-trai{
		width: 100%;
	}
	#phan2 {
		height: 290vh;
	}
	#phan2-1-phai {
		width: 100%;
		top: 54vh;
	}
	.phan2-2-trai {
		top:108vh;
		width: 100%;
	}
	.phan2-2-giua {
		top:162vh;
		width: 100%;
		margin-left: 0;
	}
	.phan2-2-phai{
		top:216vh;
		width: 100%;
	}
	#phan2-1-phai-phai {
		display: none;
	}
	#trongphan2-1-phai-trai {
		width: 90%;
	}
	#trongphan2-1-phai-trai p{
		font-size: 15px
	}
	.phan3-trai {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
		height: 45vh;
	}
	#phan3container {
		height: 140vh;
	}
	.chualogothuonghieu{
		width: 50%;
		height: 15vh;
	}
	.chualogothuonghieu img{
		width: 40%;
		height: 70%;
	}
	.phan3container2{
		height: 25vh;
	}
	.chuphan4 {
		padding-left: 0;
	}
	#phan4chua{
		padding-top: 5px;
	}
	#phan4{
		height: 125px;
	}
	.social {
		width: 60%;
		margin: 0;
		padding: 0;
		height:10vh;
		padding-left:18%;	
		padding-top: 5%;
	}
	
}

